/.vs
bin
obj
/Build
/packages
/.sln
*.csproj.user
/KHBC.LD.PWFM
/ailiyaTest
/WorkFlow.xml
/SCADAConfig.xml
/PLCConfig.xml
/KHBCTEST/Cfg/KHBCTEST.main.json
/KHBCTEST/KHBCTEST.csproj
/KHBCTEST/Logs/KHBCTEST/2019-09-10/Device.log
/KHBCTEST/Logs/KHBCTEST/2019-09-10/Gateway.log
/KHBCTEST/Logs/KHBCTEST/2019-09-10/Main.log
/KHBCTEST/Logs/KHBCTEST/2019-09-10/Net.log
/KHBCTEST/Logs/KHBCTEST/2019-09-10/Sql.log
/KHBCTEST/Logs/KHBCTEST/2019-09-12/Device.log
/KHBCTEST/Logs/KHBCTEST/2019-09-12/Gateway.log
/KHBCTEST/Logs/KHBCTEST/2019-09-12/Main.log
/KHBCTEST/Logs/KHBCTEST/2019-09-12/Net.log
/KHBCTEST/Logs/KHBCTEST/2019-09-12/Sql.log
